<% if articles.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>イメージ画像</th>
        <th>記事分類</th>
        <th>見出し</th>
        <th>投稿者</th>
        <th>投稿日時</th>
        <% if logged_in? %>
          <th>ボタン</th>
        <% end %>
      </tr>
    </thead>
    
    <tbody>
      <%= render partial: 'articles/table_row', collection: articles, as: 'article' %>
     </tbody>
  </table>
  
  <% unless current_page?(root_path) %>
    <%= paginate articles %>
  <% end %>
<% end %>


