<% if users.any? %>
  <table class="table table-striped">
    
    <thead>
      <tr>
        <th data-field="image" data-sortable="true">ユーザアイコン</th>
        <th data-field="classification" data-sortable="true">ユーザ名</th>
        <th data-field="heading" data-sortable="true">年齢</th>
        <th data-field="name" data-sortable="true">活動エリア</th>
        <th data-field="created_at" data-sortable="true">担当パート</th>
      </tr>
    </thead>
  
    <tbody>
      <%= render partial: 'users/table_row', collection: users, as: 'user' %>
    </tbody>
    
  </table>
  
  <%= paginate users %>

<% end %>


