<div class="jumbotron mb-0">
  <div class="text-center">
    <h1>Web上でバンドが組める</h1>
    <a class="btn btn-big btn-info mt-3">新規登録(無料)</a>
  </div>
</div>
<div class="container">
  <div class="text-center">
    <h2>新着記事</h2>
    <div class="container border bg-secondary">
      記事一覧
    </div>
    <h2>特徴</h2>
    <div class="row mx-auto">
      <div class="col">
        <span class="d-block border">Icon</span>
        <p>---------------</p>
      </div>
      <div class="col">
        <span class="d-block border">Icon</span>
        <p>---------------</p>
      </div>
      <div class="col">
        <span class="d-block border">Icon</span>
        <p>---------------</p>
      </div>
    </div>
    <div class="row mx-auto">
      <div class="col">
        <span class="d-block border">Image</span>
        <h2>募集中のバンドを探す</h2>
      </div>
      <div class="col">
        <span class="d-block border">Image</span>
        <h2>加入希望のメンバーを探す</h2>
      </div>
    </div>
  </div>
</div>
