<div class="jumbotron mb-0 mt-0">
  <div class="text-center">
    <h1>Web上でバンドが組める</h1>
    <%= link_to '新規登録(無料)', signup_path, class: 'btn btn-big btn-secondary' %>
  </div>
</div>
<div class="container">
  <div class="text-center">
    <h2>新着記事</h2>
    <div class="border bg-light py-3 px-5">
      <%= render 'articles/articles', articles: @articles %>
    </div>
    
    <div class="row mx-auto mt-4">
      <div class="col">
        <a href=# class="btn btn-secondary btn-big">募集中のバンドを探す</a>
      </div>
      <div class="col">
        <a href=# class="btn btn-info btn-big">加入希望のメンバーを探す</a>
      </div>
    </div>
  </div>
</div>
