<footer class="bg-info">
  <div class="row">
    <div class="mx-auto text-white">
      <a class="border-right pl-1 pr-2">ログイン</a>
      <a class="border-right pl-1 pr-2">新規登録</a>
      <a class="pl-1 pr-2">利用規約</a>
    </div>
  </div>
</footer>